.doctor-team {
  background: #f6f9ff;
  padding: 30px 0 50px;
  text-align: center;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
  }

  .heading {
    margin-bottom: 30px;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #444;
    }

    p {
      font-size: 16px;
      color: #444;
    }

    .line {
      width: 60px;
      height: 2px;
      background: #f875aa;
      margin: 10px auto 0;
    }
  }

  .doctor-card {
    border: 1px solid #ffa4a4;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
      transform: translateY(-5px);
    }

    .doctor-img {
      width: 100%;
      aspect-ratio: 4 / 3;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    .doctor-info {
      padding: 20px;
      display: flex;
      flex-direction: column;
      flex: 1; // giúp phần nội dung tự giãn để nút nằm dưới

      h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #333;
        line-height: 1.3;
      }

      .specialty {
        font-size: 14px;
        font-weight: 500;
        color: #444;
        margin-bottom: 5px;
        line-height: 1.3;
      }

      .skills {
        font-size: 13px;
        color: #555;
        margin-bottom: 15px;
        min-height: 50px;
        line-height: 1.3;

        p {
          padding-left: 0 !important;
        }
      }

      .view-more {
        background: #F875AA;
        color: #fff;
        border: none;
        padding: 10px 16px;
        border-radius: 12px;
        cursor: pointer;
        font-weight: 600;
        transition: 0.3s;
        border: 1px solid #F875AA;
        font-size: 14px;
        margin-top: auto; // Đẩy nút xuống cuối
        align-self: flex-start;

        &:hover {
          background: #fff;
          color: #F875AA;
        }
      }
    }
  }

  .doctor-list {
    padding: 0 12px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
