.service-team {
  background: rgba(255, 189, 189, 0.2);
  padding: 30px 0 60px;
  text-align: center;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
  }

  .heading {
    margin-bottom: 30px;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #444;
    }

    p {
      font-size: 16px;
      color: #444;
    }

    .line {
      width: 60px;
      height: 2px;
      background: #ffa4a4;
      margin: 10px auto 0;
    }
  }

  .service-card {
    border: 1px solid #ffa4a4;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:nth-child(3n + 1) {
      background-color: #f3e9dc; // Màu 1
    }

    &:nth-child(3n + 2) {
      background-color: #deded1; // Màu 2
    }

    &:nth-child(3n + 3) {
      background-color: #ffbdbd; // Màu 3
    }

    &:hover {
      transform: translateY(-5px);
    }

    .service-img {
      width: 100%;
      aspect-ratio: 4 / 3;
      overflow: hidden;

      img {
        border-radius: 36px;
        padding: 18px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    .service-info {
      padding: 10px;
      display: flex;
      flex-direction: column;
      flex: 1; // giúp phần nội dung tự giãn để nút nằm dưới

      h3 {
        font-size: 18px;
        font-weight: 500;
        color: #000;
        text-align: center;
        line-height: 1.5;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      .specialty {
        font-size: 14px;
        font-weight: 500;
        color: #444;
        margin-bottom: 5px;
      }

      .skills {
        font-size: 13px;
        color: #555;
        margin-bottom: 15px;
        min-height: 50px;
      }

      .view-more {
        background: #ffa4a4;
        color: #fff;
        border: none;
        padding: 10px 16px;
        border-radius: 12px;
        cursor: pointer;
        font-weight: 600;
        transition: 0.3s;
        border: 1px solid #ffa4a4;
        font-size: 14px;
        margin-top: auto; // Đẩy nút xuống cuối
        align-self: flex-start;

        &:hover {
          background: #fff;
          color: #ffa4a4;
        }
      }
    }
  }

  .service-list {
    padding: 0 12px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
