.contact-overlay {
  padding: 30px 20px;
  border-radius: 12px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 0;

  @media (max-width: 1230px) {
    margin: 0;
    border-radius: 0;
    height: 100%;
  }
}

.contact-content {
  h2 {
    color: #ffa4a4;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: Sedgwick Ave Display, cursive;
  }

  p {
    color: #444;
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
    margin: 5px 0;
  }
}

.contact-map {
  flex: 1;
  min-width: 500px;
  width: 100%;

  @media (max-width: 576px) {
    min-width: 100% !important;
  }

  iframe {
    width: 100%;
    height: 100%;
    min-height: 500px;
    border-radius: 8px;
  }
}
