html *::-webkit-scrollbar {
  width: 6px;
}
html *::-webkit-scrollbar-thumb {
  background: #f875aa;
  border-radius: 3px;
}
html *::-webkit-scrollbar-track {
  background: #dde1ef;
  border-radius: 3px;
}

html {
  scroll-behavior: smooth;
}
