.about-section {
  background: rgba(255, 189, 189, 0.2);
  padding: 24px 20px 24px;
  display: flex;
  justify-content: center;

  .about-container {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    gap: 40px;
    align-items: center;
  }

  .about-image {
    flex: 1;
    min-width: 300px;
    position: relative;

    img {
      border: 2px solid #666;
      width: 100%;
      border-radius: 24px;
      position: relative;
      z-index: 2;
    }
  }

  .about-content {
    flex: 1.2;
    min-width: 300px;
    z-index: 3;

    h2 {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 15px;
      line-height: 1.1;
      font-family: Pretendard;
      color: #E83C91;
    }

    .subtitle {
      font-weight: 600;
      margin-bottom: 15px;
    }

    p {
      color: #444;
      line-height: 1.5;
      margin-bottom: 12px;
      text-align: justify;
      font-size: 16px;
    }

    .about-btn {
      display: inline-block;
      background: #fff;
      color: #333;
      padding: 10px 18px;
      border-radius: 50px;
      font-weight: 600;
      text-decoration: none;
      transition: 0.3s ease;

      &:hover {
        background: #f7c4cb;
        color: #000;
      }
    }
  }
}

@media (max-width: 1024px) {
  .about-container {
    display: block !important;
  }

  .about-content {
    margin-top: 24px;
  }
}
