.footer {
  background: url("../../assets/footer.png") center/cover no-repeat;
  color: #fff;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
  align-items: center;

  .footer-overlay {
    background: rgba(247, 168, 199, 0.5);
    padding: 60px 20px;
    border-radius: 12px;
    max-width: 1200px;
    width: 100%;
    margin: 36px auto 0;

    @media (max-width: 1230px) {
      margin: 0;
      border-radius: 0;
      height: 100%;
    }
  }

  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-content {
    flex: 1;
    min-width: 280px;

    h2 {
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 15px;
      font-family: Sedgwick Ave Display, cursive;
    }

    p {
      font-size: 18px;
      line-height: 1.6;
      margin: 5px 0;
    }
  }

  .footer-map {
    flex: 1;
    min-width: 300px;

    iframe {
      width: 100%;
      height: 100%;
      min-height: 300px;
      border-radius: 8px;
    }
  }

  .footer-bottom {
    width: 100%;
    text-align: center;
    padding: 20px 0 4px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.6); // 👈 màu nền riêng cho copy right
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}
